# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
**/bin/**
x/**
!x/bin
**/obj/**
!x/obj
.vscode/**
.vs/**
.vs/ProjectEvaluation/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build 
/Journal.Api/JournalApp.db
